{% load static %}
{% load fontawesome_6 %}
{% fontawesome_6_static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{% static 'stylesheets/bt502/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'stylesheets/bt502/js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'stylesheets/myStyle.css' %}">
    <script type="text/javascript" src="{% static 'stylesheets/myJs.js' %}"></script>
    <title>Personnel Digital Profile System</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col col-12 bg-primary text-white">
            <h1>Personnel Digital Profile System </h1>
        </div>
    </div>

    <div class="row">
        <div class="col col-3 text-white" style="background-color: #b6d4fe;">
            <br>
            {% include 'menu.html' %}
            <br>
        </div>
        <div class="col col-9 bg-white text-primary" style="padding-top: 10px">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>