{% extends 'base.html' %}
{% load static %}
{% load fontawesome_6 %}

{% block content %}
 <div class="jumbotron jumbotron">
        <div class="mt-4 p-5 text-white rounded text-end" style="background-color: #b6d4fe">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <h2 class="display-6 text-primary">ระบบบริหารจัดการแฟ้มข้อมูลดิจิทัลประจำตัวบุคลากร </h2>
                    <label class="text-secondary" style="font-size:30px;font-weight: bold;">
                           เพื่อพัฒนาองค์กรสู่ความเป็นเลิศ <i class="fas fa-angle-right fa-sm"></i> <i class="fas fa-angle-right fa-sm"></i> "LERD"
                    </label>
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}