{% load static %}

<div class="list-group ">
    <li class="list-group-item  list-group-item-primary bg-primary text-white">
        <i class="fa-solid fa-bars"></i><b> Main:</b></li>
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-light"
       style="color: #063575;font-weight: bold">
        <i class="fa fa-home"></i> Home </a>
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"  aria-expanded="false" aria-controls="collapseOne">
                    <i class="fas fa-sitemap"></i> &nbsp; ข้อมูลพื้นฐานของหน่วยงาน
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                    <a href=""
                       class="list-group-item list-group-item-action list-group-item-light" style="color: #063575">
                        <i class="fa fa-school"></i> คณะ </a>
                    <a href=""
                       class="list-group-item list-group-item-action list-group-item-light" style="color: #063575">
                        <i class="fa fa-layer-group"></i> สาขา/หน่วยงานย่อย </a>
                    <a href=""
                       class="list-group-item list-group-item-action list-group-item-light" style="color: #063575">
                        <i class="fa fa-graduation-cap"></i> หลักสูตร </a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" >
                    <i class="fas fa-user-group"></i> &nbsp; บุคลากรและการบริหารจัดการ
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a href=""
                       class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fa fa-user-group"></i> บุคลากร </a>
                    <a href=""
                       class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fa fa-user-graduate"></i> ประวัติการศึกษา </a>
                    <a href=""
                       class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fa-solid fa-sun"></i> ความเชี่ยวชาญ </a>
                    <a href=""
                       class="list-group-item list-group-item-action list-group-item-light"
                       style="color: rgba(239,88,116,0.89)">
                        <i class="fas fa-users-cog"></i> การบริหารหลักสูตร </a>
                    {% if request.session.userType == 'Administrator' or request.session.userType == 'Manager' %}
                        <a href=""
                           class="list-group-item list-group-item-action list-group-item-light" style="color: #fd1cd0">
                            <i class="fas fa-user-tie"></i></i> ผู้บริหารหน่วยงาน </a>
                        <a href=""
                           class="list-group-item list-group-item-action list-group-item-light" style="color: #fd1cd0">
                            <i class="fas fa-user-astronaut"></i> หัวหน้าสาขา/หน่วยงานย่อย </a>
                        <a href=""
                           class="list-group-item list-group-item-action list-group-item-light" style="color: #fd1cd0">
                            <i class="fas fa-chalkboard-teacher"></i> ผู้รับผิดชอบข้อมูลสาขา/หน่วยงานย่อย </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="list-group">
    <li class="list-group-item  list-group-item-warning bg-success text-white">
        <i class="fas fa-chalkboard-teacher"></i><b> Working profiles:</b></li>
    <a href="" class="list-group-item list-group-item-action list-group-item-light text-success">
        <i class="fa fa-person-dots-from-line"></i> การฝึกอบรม/สัมมนา </a>
    <a href="" class="list-group-item list-group-item-action list-group-item-light text-success">
        <i class="fa-solid fa-person-hiking"></i> การลา  </a>
    <i class="fa-solid fa-person-walking-luggage"></i>
    <a href="" class="list-group-item list-group-item-action list-group-item-light text-success">
        <i class="fa-solid fa-award"></i> ผลงานและรางวัล </a>
    <a href="" class="list-group-item list-group-item-action list-group-item-light" style="color: #04c20a">
        <i class="fas fa-flask"></i> การวิจัย  </a>
    <a href="" class="list-group-item list-group-item-action list-group-item-light" style="color: #04c20a">
        <i class="fas fa-person-booth"></i> การบริการทางวิชาการแก่สังคม  </a>
    <a href="" class="list-group-item list-group-item-action list-group-item-light " style="color: #04c20a">
        <i class="fas fa-clipboard-list"></i> คำสั่ง </a>
</div>
<br>

<div class="list-group">
    <li class="list-group-item  list-group-item-warning text-white" style="background-color: #458aee">
        <i class="fa fa-chart-column"></i><b> Reporting:</b></li>
    <a href=" "
       class="list-group-item list-group-item-action list-group-item-light text-info">
        <i class="fa fa-user-group"></i><i class="far fa-id-card"></i> รายงานข้อมูลบุคลากร </a>
    <a href=""
       class="list-group-item list-group-item-action list-group-item-light text-info">
        <i class="fa fa-person-dots-from-line"></i><i class="fas fa-chart-area"></i> รายงานข้อมูลการฝึกอบรม/สัมมนา </a>
    <a href=""
       class="list-group-item list-group-item-action list-group-item-light text-info">
        <i class="fa-solid fa-person-hiking"></i><i class="fas fa-signal"></i> รายงานข้อมูลการลา </a>
    <a href=""
       class="list-group-item list-group-item-action list-group-item-light text-info">
        <i class="fa-solid fa-award"></i><i class="fas fa-project-diagram"></i> รายงานข้อมูลผลงานและรางวัล </a>
    <a href=""
       class="list-group-item list-group-item-action list-group-item-light text-info">
        <i class="fas fa-flask"></i><i class="fas fa-chart-pie"></i> รายงานข้อมูลการวิจัย </a>
    <a href=""
       class="list-group-item list-group-item-action list-group-item-light text-info">
        <i class="fas fa-person-booth"></i><i class="fas fa-chart-line"></i> รายงานการบริการทางวิชาการแก่สังคม </a>
    <a href=""
       class="list-group-item list-group-item-action list-group-item-light text-info">
       <i class="fas fa-clipboard-list"></i><i class="fas fa-chart-bar"></i>  รายงานข้อมูลคำสั่ง  </a>
</div>
<br>
<div class="list-group">
    <li class="list-group-item  list-group-item-warningtext-white" style="background-color: #a8bfe7">
        <i class="fas fa-cogs"></i><b> System:</b></li>
    <a href="{% url 'system' %}"
       class="list-group-item list-group-item-action list-group-item-light text-dark">
        <i class="fas fa-bullseye"></i> เกี่ยวกับระบบ </a>
    <a href=""
       class="list-group-item list-group-item-action list-group-item-light text-dark">
        <i class="fas fa-bug"></i> ผู้พัฒนา </a>
</div>
<br>

<br>


