{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row" style="background-color: rgba(239,240,243,0.88)">
        <div class="col-1"></div>
            <div class="col-10 text-primary">
                <h2><i class="fas fa-bullseye"></i> เกี่ยวกับระบบ </h2>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="row" style="background-color: rgba(239,240,243,0.88)">
        <div class="col-1"></div>
        <div class="col-10" style="background-color:#cbe8f6;border-width:4px;border-style:solid; border-color:#004ba6;margin-inside: 15px">
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fas fa-bullseye text-danger"></i>
                ระบบจัดการข้อมูลดิจิทัลบุคลากร (Personnel Digital Profile System) จัดทำขึ้น
                เพื่อเป็นระบบที่ใช้สำหรับรวบรวมข้อมูลบุคลากรในสถาบันการศึกษาระดับคณะ
                โดยเก็บข้อมูลในรูปแบบของแฟ้มเอกสารประวัติการทำงานของบุคลากรแต่ละรายในหน่วยงาน
                เพื่อนำไปใช้ในการประกอบการพิจารณาหรือตัดสินใจในการดำเนินการต่าง ๆ ของผู้บริหาร
                เป็นเครื่องมือในการบริหารจัดการข้อมูลดิจิทัลเพื่อส่งเสริมองค์กรตามแนวคิดองค์กรดิจิทัล (Digital
                Oranization)
                <div class="list-group">
                    <li class="list-group-item  list-group-item-warning bg-primary text-white">
                        <i class="fas fa-cogs"></i><b> ความสามารถในการจัดการข้อมูลบุคลากร:</b></li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 1. ข้อมูลพื้นฐานส่วนตัวของบุคลากร </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  2. ข้อมูลประวัติการศึกษา </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  3. ข้อมูลความเชี่ยวชาญ </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 4. ข้อมูลประวัติการฝึกอบรมสัมมนา  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 5. ข้อมูลการลา  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 6. ข้อมูลประวัติการรับตำแหน่ง/ผลงาน/รางวัล  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 7. ข้อมูลประวัติการวิจัย  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 8. ข้อมูลประวัติการบริการวิชาการแก่สังคม  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-primary">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 9. ข้อมูลประวัติการรับคำสั่งปฏิบัติงาน  </li>
                </div>
                <br>
        </div>
        <div class="col-1"></div>
        <br>
    </div>

    <div class="row" style="background-color: rgba(239,240,243,0.88)">
        <div class="col-12"> <br> </div>
    </div>

    <div class="row" style="background-color: rgba(239,240,243,0.88)">
        <div class="col-1"></div>
        <div class="col-10" style="background-color:#f5f5d0;border-width:4px;border-style:solid; border-color:#faae0e;margin-inside: 15px">
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fas fa-bullseye text-danger"></i>
                ระบบจัดการข้อมูลดิจิทัลบุคลากร (Personnel Digital Profile System) มีระบบกำหนดและควบคุมสิทธิ์การใช้งานให้กับกลุ่มผู้ใช้แต่ละกลุ่มที่แตกต่างกัน
            โดยผู้ใช้แต่ละกลุ่มจะสามารถเข้าถึงข้อมูลและจัดการข้อมูลได้ตามตำแหน่งหน้าที่การทำงาน เพื่อร่วมบริหารจัดการข้อมูลบุคลากรให้เป็นไปอย่างมีประสิทธิภาพ
                <div class="list-group">
                    <li class="list-group-item  list-group-item-warning bg-warning text-dark">
                        <i class="fas fa-cogs"></i><b> การแบ่งกลุ่มผู้ใช้ระบบ:</b></li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-dark">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 1. ผู้ดูแลระบบ  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-dark">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  2. ผู้บริหารหน่วยงาน  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-dark">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  3. หัวหน้าสาขา/หน่วยงานย่อย </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-dark">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  4. เจ้าหน้าที่ผู้ดูแลข้อมูลประจำสาขา/หน่วยงานย่อย </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-dark">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  5. บุคลากรในองค์กร </li>
                </div>
                <br>
        </div>
        <div class="col-1"></div>
        <br>
    </div>

    <div class="row" style="background-color: rgba(239,240,243,0.88)">
        <div class="col-12"> <br> </div>
    </div>


    <div class="row" style="background-color: rgba(239,240,243,0.88)">
        <div class="col-1"></div>
        <div class="col-10" style="background-color:#c5f6dd;border-width:4px;border-style:solid; border-color:#457545;margin-inside: 15px">
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fas fa-bullseye text-danger"></i>
                ระบบจัดการข้อมูลดิจิทัลบุคลากร (Personnel Digital Profile System) ประกอบด้วยระบบการทำงานระบบย่อย จำนวน 17 ระบบย่อย
            ซึ่งถูกพัฒนาขึ้นมาเพื่อจัดการข้อมูลให้มีความเหมาะสม ครอบคลุมการบริหารจัดการงานบุคลากรในองค์กร เพื่อให้มีระบบข้อมูลที่สามารถนำไปใช้ประโยชน์อย่างเต็มประสิทธิภาพ
                <div class="list-group">
                    <li class="list-group-item  list-group-item-warning bg-success text-white">
                        <i class="fas fa-cogs"></i><b> ระบบย่อย:</b></li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i> 1. ระบบบันทึกข้อมูลรายละเอียดคณะ    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  2. ระบบบันทึกข้อมูลรายละเอียสาขา/หน่วยงานย่อย   </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  3. ระบบบันทึกรายละเอียดหลักสูตร   </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  4. ระบบบันทึกข้อมูลบุคลากร  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  5. ระบบกำหนดรายชื่อผู้บริหาร  </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  6. ระบบกำหนดรายชื่อหัวหน้าสาขา/หน่วยงานย่อย    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  7. ระบบกำหนดรายชื่อผู้ดูแลข้อมูลสาขา/หน่วยงานย่อย    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  8. ระบบบันทึกข้อมูลประวัติการศึกษา    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  9. ระบบบันทึกข้อมูลความเชี่ยวชาญ    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  10. ระบบบันทึกข้อมูลประวัติการฝึกอบรมสัมมนา    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>   11. ระบบบันทึกข้อมูลประวัติการลา   </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>   12. ระบบบันทึกข้อมูลประวัติการรับตำแหน่ง/ผลงาน/รางวัล   </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  13. ระบบบันทึกข้อมูลประวัติการวิจัย    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  14. ระบบบันทึกข้อมูลประวัติการบริการวิชาการแก่สังคม    </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>   15. ระบบบันทึกข้อมูลประวัติการรับคำสั่งปฏิบัติหน้าที่   </li>
                    <li class="list-group-item list-group-item-action list-group-item-light text-success">
                        <i class="fas fa-caret-right" style="margin: 3px"></i>  16. ระบบนำเสนอรายงานทั่วไป    </li>
                </div>
                <br>
        </div>
        <div class="col-1"></div>
        <br>
    </div>

    <div class="row" style="background-color: rgba(239,240,243,0.88)">
        <div class="col-12"> <br> <br><br><br><br></div>
    </div>



{% endblock %}